h1 {
    background-color: #3498db; 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
}

/* Estilo para el contenedor de cada práctica */
.practica {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Estilo para los enlaces de práctica */
.practica a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para el texto de la práctica */
.practica p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para los títulos de práctica */
.practica h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para resaltar cuando se pasa el mouse sobre los enlaces */
.practica a:hover {
    color: #e74c3c;
}
