* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.contenedor {
    margin: auto;
    background-color: rgba(255, 248, 35, 0.377);
    width: 900px;
    height: 770px;
    border: 5px solid rgb(46, 20, 77);
}

h1 {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.campo {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.campo input[type="text"],
.campo input[type="date"],
.campo input[type="email"],
.campo input[type="month"],
.campo input[type="time"],
.campo select {
    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.campo select {
    width: 155px;
    margin-left: 20px;
}

.campo label,
.campo input[type="checkbox"],
.campo input[type="radio"],
.campo textarea {
    margin-top: 10px;
    margin-left: 20px;
    color: black;
}

.campo textarea {
    width: 450px;
}

.campo input[type="range"] {
    margin-top: 20px;
    width: 400px;
}



#listaIngreso {
    font-size: 8px;
    word-spacing: 2.2em;
}

.campo label[for="habilidades"] {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center; 
}

.campo label[for="habilidades"] {
    display: block;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}

.campo textarea[name="habilidades"] {
    display: block;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    width: 450px;
}


.campo label[for="datosLista"] {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 100px;
}

#botones-container {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

#botones-container input[type="reset"],
#botones-container input[type="submit"] {
    margin: 10px; /* Espacio entre los botones */
    width: 150px;
    height: 50px;
    background-color: rgba(91, 136, 136, 0.452);
    border-radius: 10px;
    display: inline-block; /* Para que los botones se muestren en línea */
}
